autopep8==1.7.0
bandit @ git+https://github.com/PyCQA/bandit@3aaa2b07be47090344d89e5532bcde15127c2909
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
Flask==2.2.5
gitdb==4.0.9
GitPython==3.1.41
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.1
memory-profiler==0.60.0
numpy==1.24.2
opensearch-py==2.0.0
pbr==5.10.0
psutil==5.9.2
pycodestyle==2.9.1
Pygments==2.13.0
PyYAML==6.0
requests==2.32.0
rich==12.6.0
smmap==5.0.0
stevedore==4.0.1
toml==0.10.2
urllib3==1.26.12
Werkzeug==3.0.3
